<!-- Intro Header -->
<header class="intro" style="height:1200px;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Beijing 2008</h1>
                    <p class="intro-text">Olympics Medal Table
                        <br />Created by Christian Palazzo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>