<!-- Medal Table Section -->
<section id="about" class="container content-section text-center" data-ng-init="vm.init()">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Medal Table</h2>
            
			<table class="table table-striped table-bordered table-condensed table-responsive">
	        	<thead>
	        		<tr>
	          			<th>Country</th>
	          			<th>Gold</th>
	          			<th>Silver</th>
	          			<th>Bronze</th>
	          			<th>Total</th>
	        		</tr>
	      		</thead>
				<tbody>
	        		<tr data-ng-repeat="row in vm.grouped" style="background-color:grey;">
	        			<td>{{row.country}}</td>
	        			<td>{{row.gold}}</td>
	        			<td>{{row.silver}}</td>
	        			<td>{{row.bronze}}</td>
	        			<td>{{row.total}}</td>
	        		</tr>
	        	</tbody>
	      	</table>

        </div>
    </div>
</section>